<!DOCTYPE html>
<html>
<head>
    <title>Score Submission Form</title>
</head>
<body>
    <h1>Submit Your Marks</h1>
    <form action="/getresults" method="POST">
        <label for="science">Science:</label><br>
        <input type="text" id="science" name="science" value="0"><br><br>

        <label for="maths">Maths:</label><br>
        <input type="text" id="maths" name="maths" value="0"><br><br>

        <label for="datascience">Data Science:</label><br>
        <input type="text" id="datascience" name="datascience" value="0"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
